<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'Main.css' %}">
    <title>Todo-List Maker</title>
</head>
<body>

    <div class="container">
        <div class="LeftBarBG">
            <p>Menu <svg class="menu-icon" xmlns="http://www.w3.org/2000/svg" width="26" height="23" viewBox="0 0 26 23" fill="none">
                <path d="M0.501953 0.5V3.625H25.502V0.5H0.501953ZM0.501953 9.78125V12.9063H25.502V9.78125H0.501953ZM0.501953 19.1563V22.2813H25.502V19.1563H0.501953Z" fill="white"/>
            </svg></p>

        </div>

        <div class="Active"></div>

        <div class="RightBarBG"></div>

      </div>

<script src="#"></script>
</body>
</html>