  {% extends 'base_layout.html' %}
  {% load static %}
  {% block style %}<link rel="stylesheet" href="{% static 'MainLight.css' %}" />{% endblock %}
  {% block Selected_Today %}class="Selected"{% endblock %}

      <!-- ################################################""ACTIVE################################################"" -->

{% block Active %}      
        <div class="Active">
            <div class="AddNewTask">
                
                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 35 35" >
                    <path d="M17.5 7.29167V27.7083" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M7.29175 17.5H27.7084" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                 <input placeholder="Add New Task">
                 
                
            </div>
            <div class="Day">
                    <p>Today</p>
            </div> 
            <div class="NumberBg">
              <div class="Number">
                    <p>11</p>
              </div>
            </div>
            
          
            <div class="ActiveTasks">

            </div>
                
                

            

        </div>

{% endblock %}        