@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');


.container {
  display: grid; 
  grid-template-columns: 0.8fr 1.3fr 0.9fr; 
  grid-template-rows: 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "LeftBarBG Active RightBarBG"; 
}
  
  .Active { grid-area: Active; }
a{
  text-decoration: none;
  color: #FFF;
}











  /* Left side bar css content Bellow */

  .LeftBarBG { grid-area: LeftBarBG;
    flex-shrink: 0;
    border-radius: 20px;
    margin: 25px 30px;
    background: #1E293C; }

  .LeftBarContent{
    position: absolute;
    margin: 8%;
    display: flex;
    flex-direction: column;
  }
  .Menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }  
  .Menu p{
    margin: 0 0 5% 0;
    padding: 0;
    /* flex-shrink: 0; */
    color: var(--Color, #FFF);
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
/* .menu-icon{
    Change its color when Light mode toggled
  }   */

  .Search-Bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 2em;
    flex-shrink: 0;   
    border-radius: 8px;
    border: 1px solid var(--Color, #FFF);
    background: #0F172B;
  }

  .Search-Bar svg{
    margin-left: 3%;
  }

  .Search-Bar input{
    margin: 0;
    padding: 0;
    width: 86%;
    height: 20px;
    flex-shrink: 0;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: #0F172B;
  }

  /* .Tasks{
    margin: 0;
  } */

  .Tasks-List{
    margin: 0;
    padding: 0;
    list-style: none;
    justify-items: center;
    
    
  }
 


  .Tasks-Icons, .Lists-Icons, .Options-Icons{
    margin-left: 3%;
    margin-right: 3%;
  }


  .Selected{
    border-radius: 8px;
    border: 1px solid var(--Color, #FFF);
    background: #1E293C;
  }

/*#########################################################*/
  .Line{
    width: 100%;
    height: 1px;
    background: #FFF;
  }
/*#########################################################*/
  
.LeftBarContent2{
  margin: 0% 8% 8% 8%;
  /* padding: 0; */
}

  .Lists-List{
    padding: 0;
    margin: 0%;
    list-style: none;
  }


  .Lists-Icons{
    border-radius: 5px;
    /* padding: 0%; */
    width: 20px;
    height: 20px;
  }
  
/* #############################" */

.LeftBarContent3{
  position: absolute;
  height: auto;
  margin:0% 8% 0% 8%;

}

.Options-List{
  padding: 0;
  list-style: none;
}

  /* right side bar css content Bellow */

  .RightBarBG { grid-area: RightBarBG;
    border-radius: 20px;
    background: #1E293C; 
    margin: 25px 30px;}

    .RightBarContent{
      display: flex;
      flex-direction: column;
      margin: 8%;
  
    }  
  
  html, body , .container {
    height: 100%;
    margin: 0;
    background: #0F172B;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
  }
  
  

/* Right-Middle-Left-Bar css  */









  /* For presentation only, no need to copy the code below */
  
  .container * {
    /* border: 1px solid gray; */
    position: relative;
  }
  /*
  .container *:after {
    content:attr(class);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
  } */
  
  