@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');


.container {
  display: grid; 
  grid-template-columns: 0.8fr 1.3fr 0.9fr; 
  grid-template-rows: 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "LeftBarBG Active RightBarBG"; 
}
  
 .Active { grid-area: Active; }
a{
  text-decoration: none;
  color: #000;
}
.toggleBtn{
  cursor: pointer;
  padding: 10px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
}
svg{
  fill: #fff;
}




  /* Left side bar css content Bellow */

  .LeftBarBG { grid-area: LeftBarBG;
    flex-shrink: 0;
    border-radius: 20px;
    margin: 25px 30px;
    background: #1E293C; 
    overflow-y: auto;
    /* WebKit-specific styles for scrollbar */
    scrollbar-width: thin;
    scrollbar-color: #888 #f0f0f0;
  }

  .LeftBarBG::-webkit-scrollbar {
    width: 4px;
  }
  
  .LeftBarBG::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 6px;
  }
  
  .LeftBarBG::-webkit-scrollbar-track {
    background-color: #0F172B;
    border-radius: 6px;
  }
  
  .LeftBarContent{
    position: absolute;
    margin: 8%;
    display: flex;
    flex-direction: column;
  }
  .Menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }  
  .Menu p{
    margin: 0 0 5% 0;
    padding: 0;
    /* flex-shrink: 0; */
    color: var(--Color, #fff);
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
 /*the color of the icon of the menu has been changed with html
 .menu-icon{
 }
 */


  .Search-Bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 2em;
    flex-shrink: 0;   
    border-radius: 8px;
    border: 1px solid var(--Color, #CCC9C9);
    background: #0F172B;
  }

  .Search-Bar svg{
    margin-left: 3%;
    fill: #fff;
    
  }

  .Search-Bar input{
    margin: 0;
    padding: 0;
    color: #000;
    width: 86%;
    height: 20px;
    border: none;
    flex-shrink: 0;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: #0F172B;
  }

   .Tasks{
    margin: 0;
    color: #fff;
  } 

  .Tasks-List{
    margin: 0;
    padding: 0;
    list-style: none;
    justify-items: center;
    color: #fff;
    
  }
  .li-elements{
    padding: 0;
    margin: 0;
    list-style: none;
    

  }
  .li-elements a{
    display: flex;
    align-items: center;
    margin-bottom: 4%;
    color: #FFF;
  }

  .delete-button {
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #1E293C; /* Adjust the background color to match your design */
    color: #fff; /* Adjust the text color to match your design */
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: normal;
  }
  
  .delete-button:hover {
  color:red;
    /* background-color: # ; */
  }


  #List-Info{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .AddNewList-Div{
    display: flex;  
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4%;
    color: #FFF;
  }
  .AddNewList{
    border: none;
    cursor: pointer;
    resize: none;
    color:#fff ;
    width: 50%;
    background-color: #1E293C;
  }

/* AddNewList ColorPalette */

input[type="color"] {
  appearance: none;
  border: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 50%;
  margin-left: 10%;
  margin-right: 5%;
  outline: none;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
}

/* End ColorPalette */



  input,textarea{
    font-family: 'Inter', sans-serif;
  }
 
  .Tasks-Icons, .Lists-Icons, .Options-Icons{
    margin-left: 3%;
    margin-right: 3%;
    fill: #fff;
   
  }


    /* Style for the blurred background */
    .overlay {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      backdrop-filter: blur(5px);
      z-index: 1;
    }

    /* Style for the options frame */
    .options-frame {
      display: none;
      position: fixed;
      overflow-y: auto;
      width: 60%;
      height: 60%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #1E293C;
      border: 1px solid #0F172B;
      padding: 20px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      z-index: 2;
    }

    /* Style for the X button */
    .close-button {
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
    }


    .FrameContent{
      display: flex;
      flex-direction: column;
    }

    .Smt{
      display: flex;
      margin-bottom: 10%;
      align-items: center;
    }



  #Selected{
    border-radius: 8px;
    border: 1px solid #fff;
  }

/*#########################################################*/
  .Line{
    width: 100%;
    height: 1px;
    background: #fff;
  }
/*#########################################################*/
  
.LeftBarContent2{
  margin: 0% 8% 8% 8%;
  /* padding: 0; */
}

  .Lists-List{
    padding: 0;
    margin: 0%;
    list-style: none;
  }


  .Lists-Icons{
    border-radius: 5px;
    /* padding: 0%; */
    width: 25px;
    height: 20px;
  }
  
/* #############################" */

.LeftBarContent3{
  display: flex;
  flex-direction: column;
  margin:0% 8% 0% 8%;

}

.Options-List{
  padding: 0;
  list-style: none;
}
/*##########################*/
/*middle part css*/
.Active{
  position: absolute;
  margin-top: 0px;
  display: flex;
  flex-direction: column;
}
.AddNewTask {
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  border-radius: 8px;
  background: #1E293C;
  margin-bottom: 5%;
 
  
}
.AddNewTask svg{
  margin-left: 3%;
  margin-right: 3%;
  fill: #000 ;
}
.AddNewTask input{
  position:relative;
  display: flex;
  width: 90%;
  height: 43.636px;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 0;
  color: #fff;
  border: none;
  flex-shrink: 0;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background:#1E293C;
}
.Today-Div{
  display: flex;
  align-items: center;
  text-align: center;
  padding: 0%;
}
.Day{
  color: var(--Color, #fff);
  font-family: Inter;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
  padding: 0%;

}
.NumberBg{
  display: flex;
  justify-content: center;
  background-color: #1E293C;
  padding: 0;
  margin: 0%;
  width: 10%;
}

.Number{
  color: var(--Color, #fff);
  font-family: Inter;
  font-size: 40px;
  font-weight: 700;
  margin: 0;
  padding: 0;

}

.Completed{
  display: flex;
  margin-top: 5%;
  padding: 0%;
  align-items: center;
  text-align: center;
  color: #1E293C;

}

.Completed-Tasks{
  display: flex;
  flex-direction: column;
  color: #1E293C;
}

.Completed-Task{
  display: flex;
  margin: 2% 0 2% 0;
  width: 100%;
  border-radius: 8px;
  border-bottom: 1px solid #1E293C;
  background: #1E293C;
  align-items: center;
}

.Completed-Txt{
  margin: 0;
  color: var(--Color, #fff);
  font-family: Inter;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.NumberBg, .NumberBg2{
  margin-left: 5%;
}
.NumberBg2{
  display: flex;
  justify-content: center;
  width: 10%;

  background-color: #1E293C;
}
.Number2{
  color: #48ff00;
  font-size: 40px;
  margin: 0;
  padding: 0;
}
.Title{
  margin: 0%;
  font-size: 40px;
}

.Today-Tasks{
  display: flex;
  flex-direction: column;

}


.taskFrow{
  display: flex;
align-items: center;
justify-content: space-between;
width: 100%;
}


.Today-Task{
  display: flex;
  margin: 2% 0 2% 0;
  width: 100%;
  border-radius: 8px;
  border-bottom: 1px solid #fafafa;
  background: #EBEBEB;
  align-items: center;
}


.task_txt_div{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: #1E293C;
}
.task_txt_div:hover{
  cursor: pointer;
}


.isDone-Icon{
  margin-left: 3%;
  margin-right: 3%;
  transition: transform 0.3s ease-in-out;
  fill: #fff;
}
.isDone-Icon:hover{
  transform: scale(1.2);
}
.Arrow-Icon path{
  fill: #fff;
  
}








  /* right side bar css content Bellow */

  .RightBarBG { grid-area: RightBarBG;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background: #1E293C; 
    margin: 25px 30px;

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    transition: width 0.5s;
  
  }

  .RightBarBG.show {
    width: 90%;
    max-width: 90%; 
}

    .RightBarContent{
      display: flex;
      flex-direction: column;
      margin: 8%;
  
    }  
    .Task{
      color: #000;
    }

.Task-Title{
  margin-top: 5%;
  margin-bottom: 10%;
  border-radius: 5px;
  color: #fff;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  resize: none;
  border: 1px solid#000;

  background: #0F172B;
  
}
.Task-Title::placeholder, .Task-Description::placeholder{
 
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

}

.Task-Description{
  color: #fff;
  border-radius: 5px;
  resize: none;
  border: 1px solid#000;
  background: #0F172B;
}


/* select, input{
  display: flex;
  flex-direction: column;
} */





/* .Select-Options{
  display: flex;
  flex-direction: column;
} */


.User-Options{
  display: inline-block;
  width: 100px;
}

.Select-List{
margin-top: 10%;
}
/* .Select-List select{
  margin-left: 15%;
} */

.Select-DueDate, .Select-Progress, .Select-List{
  margin-bottom: 5%;
  color: #fff;
}
.User-Options{
  color: #fff;
}

.select-L, .select-D, .select-P{
  width: 35%;
  border-radius: 5px;
  color: var(--Color,  #fff);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border: 1px solid#000;
  background: #0F172B;
}




.Task-Buttons{
  display: flex;
  justify-content: space-between;
  align-items: end;
  align-content: center;
  margin-top: 60%;
}

.Delete-Btn{
  /* width: 100%; */
  height: 35px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid #0F172B;
  background: #F8F7FF;

  color: var(--Color-7, #000);
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
  
.Save-Btn{
  /* width: 50%; */
  height: 35px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid #0F172B;
  background: #9EFF00;

  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}



  html, body , .container {
    height: 100%;
    margin: 0;
    background: #0F172B;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
  }
  
  

/* Active-Bar css  */

.Active{
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 30px;
}

.Title{
  margin: 0%;
}

.Upcoming-Tasks{
  display: flex;
  flex-direction: column;

}

.Upcoming-Task{
  display: flex;
  flex-direction: column;
  margin: 1% 0 1% 0;
  width: 100%;
  border-radius: 8px;
  border-bottom: 1px solid #1E293C;
  background-color:  #1E293C;
  align-items: center;
}


.task_txt_div{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.task_txt_div:hover{
  cursor: pointer;
}
.task-txt{
  width: 100%;
}


.isDone-Icon{
  margin-left: 3%;
  margin-right: 3%;
  transition: transform 0.3s ease-in-out;
}
.isDone-Icon:hover{
  transform: scale(1.2);
}
.Arrow-Icon{
  margin-right: 3%;
}
.infoSup-div{
  display: flex;
  width: 100%;
  align-items: center;
  margin-bottom: 2%;
  background-color: #1E293C;
}
.infoSup-Icons{
  margin-left: 10%;
  margin-right: 2%;
}
.infoSup-txts{
  margin:0;
  font-size: 14px;
  background-color: #1E293C;
}
p, h1, h2,label, a , td, th{
  color: #fff;
 }




/* Theme Switch Button */

.theme-checkbox {
  margin-left: 5%;
  --toggle-size: 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 6.25em;
  height: 3.125em;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #efefef), color-stop(50%, #2a2a2a)) no-repeat;
  background: -o-linear-gradient(left, #efefef 50%, #2a2a2a 50%) no-repeat;
  background: linear-gradient(to right, #efefef 50%, #2a2a2a 50%) no-repeat;
  background-size: 205%;
  background-position: 0;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  border-radius: 99em;
  position: relative;
  cursor: pointer;
  font-size: var(--toggle-size);
}

.theme-checkbox::before {
  content: "";
  width: 2.25em;
  height: 2.25em;
  position: absolute;
  top: 0.438em;
  left: 0.438em;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #efefef), color-stop(50%, #2a2a2a)) no-repeat;
  background: -o-linear-gradient(left, #efefef 50%, #2a2a2a 50%) no-repeat;
  background: linear-gradient(to right, #efefef 50%, #2a2a2a 50%) no-repeat;
  background-size: 205%;
  background-position: 100%;
  border-radius: 50%;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.theme-checkbox:checked::before {
  left: calc(100% - 2.25em - 0.438em);
  background-position: 0;
}

.theme-checkbox:checked {
  background-position: 100%;
}


/* ------------------------------------------------- */


















  /* For presentation only, no need to copy the code below */
  
  .container * {
    /* border: 1px solid gray; */
    position: relative;
  }
  /*
  .container *:after {
    content:attr(class);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
  } */
  
  