body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    text-align: center;
}


#todo-list {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#task-list {
    list-style: none;
    padding: 0;
}

.task {
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin: 5px 0;
    background-color: darkgray;
}

.isDone-btn{
    width: 20px; /* Adjust the width to match your image dimensions */
    height: 20px; /* Adjust the height to match your image dimensions */
    background-size: cover;
    border: none; /* Remove the default button border */
    cursor: pointer;
    outline: none; /* Remove the outline on focus */
    }

.task-text {
    
    flex: 1; /* Allow task text to expand and fill available space */
    margin-right: 10px; /* Add margin to separate it from delete button */
    /*white-space: normal; /* Allow text to wrap within the available space */
    /*overflow: hidden; /* Hide overflow text */
}


.task .done {
    margin-right: 10px;
}

.delete-button {
    background-color: #ff5555;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.delete-button:hover {
    background-color: #ff0000;
}